.label {
    display: inline-block;
}

h1 {
    width: 100%;
    margin: 0px;
    padding-left: 1%;
}

a {
    text-decoration: none;
}

#banner {
    display: block;
    background-color: #222222;
    color: white;
    padding: 0.25em;
    position: sticky;
    padding: -webkit-sticky;
    top: 0;
}

h3 {
    display: inline-block;
    padding: 0.25em;
    margin: 0em;
    font-size: 1.5em;
}

body {
    margin: 0px;
    font-family: 'Unna';
    background-color:    #fcfca6;
}

.arrow {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    align-self: center;
    margin: 0.5em;
  }  

.locationButton {
    background-color: gold;
    border: none;
    display: inline-block;
    font-size: 1em;
    padding: auto;
    margin: auto;
    border-radius: 0.1em;
    color: black;
}

#filterTable {
    display: flex;
    justify-content: flex-start;
    justify-self: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-wrap: wrap;
    width: 80%;
}

.filterButton {
    font-size: 2em;
    padding: auto;
    color: grey;
    border: 1px solid grey;
    display: flex;
    align-self: flex-start;
    width: 25%;
    border-radius: 0em;
    background-color: white;
    justify-content: left;
}

.mapButton {
    background-color: #55aa32;
    border: none;
    display: inline-block;
    font-size: 1em;
    padding: auto;
    margin: auto;
    border-radius: 0.5em;
    color: white;
}

#main {
    display: inline;
    gap: 10px;
}


.box {
    background-color: #ffff7b;
    border: black ;
    width: 100%;
    margin: 0px;
    border-color: black;
    border-width: 3px;
    align-self: flex-start;
}

#main div img{
    width: 100%;
    display: flex;
}

.oneliner {
    padding: 0.5em;
    padding-top: 0em;
}

.description {
    padding: 0.5em;
    padding-top: 0em;
}


/* pro tablet */
@media (min-width: 600px) {
    #main {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .box {
        width: 49%;

    }
}

/* pro počítač */ 
@media (min-width: 1000px) {
    #main {
        display: flex;
        justify-content: flex-start;  
    }    
    .box {
        width: 30%;

    }

    .box:hover {
        width: 31%;
    }

    #page {
        width: 1000px;
        margin: auto;
    }

    h1 {
        width: 1000px;
        margin: auto;
    }
}